<div ng-controller="HomeTabController as homeTab">
    <div class="action-box">
        <input class="search" type="text" ng-model="homeTab.searchText" ng-keypress="homeTab.onenter($event)" />
        <i class="material-icons action-icon" style="margin-left: -25px;" ng-click="homeTab.search()">search</i>

        <div class="action-btn" ng-click="homeTab.getCharts()">
            <i class="material-icons action-icon">people</i>
            <label>Charts</label>
        </div>
        <div class="action-btn" ng-if="currentUser.scUser" ng-click="homeTab.stream()">
            <i class="material-icons action-icon">home</i>
            <label>Stream</label>
        </div>
    </div>
</div>
<div ng-include="'/extension/app/view/itemsList.html'"></div>