<div class="settings" ng-controller="SettingsController as settingsController">
    <div class="category_message">
        Authorization
    </div>
    <div class="row buttons" ng-controller="LoginController">
        <div ng-class="{'hidden':currentUser.scUser}">
            <label>You are not authorized.</label>
            <button class="button" ng-click="signIn()">Sign In</button>
        </div>
        <div ng-class="{'hidden':!currentUser.scUser}">
            <label>You are authorized.</label>
            <button class="button" ng-click="settingsController.logout()">Sign Out</button>
        </div>
    </div>
    <div class="category_message">
        Options
    </div>
    <div class="row">
        <input type="number" min="10" ng-model="settingsController.tracksSize" />
        <label>Max count of tracks. Min:10</label>
    </div>
    <div class="row">
        <input type="checkbox" id="notifications"  ng-model="settingsController.notification" />
        <label for="notifications">Allow google chrome notifications</label>
    </div>
    <div class="buttons" style="text-align: center;">
        <button class="button" ng-click="settingsController.save()" style="margin-left: 80px;">Save</button>
        <a href="#" ng-click="settingsController.setDefault()" style="float: right; color: gray;">Reset to default</a>
    </div>
</div>