.sc-extension-html {
  max-height: 350px;
  height: 48px;
  overflow: auto;
}
.sc-extension {
  font-size: 12px;
  background-color: #333;
  height: 100%;
  margin: 0px;
}
.sc-extension .hidden {
  display: none;
}
.sc-extension .row {
  width: 100%;
  padding: 5px;
}
.sc-extension .row .col {
  float: left;
}
.sc-extension .login-form {
  width: 185px;
  height: 50px;
}
.sc-extension .login-form .btn {
  float: left;
  width: 70px;
  height: 30px;
  margin: 4px;
  border: 2px solid #FF6624;
  padding: 5px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
}
.sc-extension .login-form .btn:hover {
  background-color: black;
}
.sc-extension .player i.material-icons {
  color: #FF6624;
  cursor: pointer;
  font-size: 26px;
  margin-top: 2px;
  margin-left: 2px;
}
.sc-extension .player i.material-icons:hover {
  color: #FF3823;
}
.sc-extension .player .player-actions .action-row {
  width: 100%;
  height: 28px;
}
.sc-extension .player.full-version {
  width: 370px;
  height: 90px;
}
.sc-extension .player.full-version .sound-img {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(135deg, #70929c, #8e8485);
  background-size: cover;
}
.sc-extension .player.full-version .player-actions {
  width: 285px;
}
.sc-extension .player.full-version .pl-title {
  float: left;
  width: 255px;
}
.sc-extension .player.full-version .pl-volume {
  margin-left: 10px;
}
.sc-extension .player.full-version .pl-volume input[type="range"] {
  width: 75px;
  margin-top: 9px;
  margin-left: 2px;
  float: right;
}
.sc-extension .player.full-version .pl-navigate {
  float: left;
  margin-left: 5px;
  width: 245px;
}
.sc-extension .player.full-version .pl-navigate label {
  color: white;
  font-size: 12px;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
.sc-extension .player.full-version .pl-navigate input[type="range"] {
  width: 195px;
  float: left;
  margin-top: 10px;
}
.sc-extension .player.full-version .pl-tabs {
  float: right;
  margin-right: 2px;
  margin-top: -2px;
}
.sc-extension .player.full-version .pl-tabs i {
  font-size: 30px;
}
.sc-extension .player.full-version .pl-minimize {
  margin-top: -2px;
  margin-right: 1px;
}
.sc-extension .player.min-version {
  width: 210px;
  height: 70px;
}
.sc-extension .player.min-version .player-actions {
  width: 210px;
}
.sc-extension .player.min-version .pl-title {
  float: left;
  width: 145px;
}
.sc-extension .player.min-version .pl-volume {
  margin-left: 5px;
}
.sc-extension .player.min-version .pl-volume input[type="range"] {
  width: 50px;
  margin-top: 9px;
  float: right;
}
.sc-extension .player.min-version .pl-minimize {
  margin-right: 10px;
}
.sc-extension .player .pl-title {
  float: left;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  margin-left: 5px;
}
.sc-extension .player .pl-minimize {
  float: right;
}
.sc-extension .player .pl-minimize i {
  margin: 0px;
  font-size: 24px;
}
.sc-extension .player .pl-buttons {
  float: left;
  display: inline-flex;
  margin-left: 5px;
}
.sc-extension .player .pl-volume {
  float: left;
  margin-top: 2px;
}
.sc-extension .player .pl-volume i {
  font-size: 22px;
}
.sc-extension .player .pl-repeat {
  float: right;
  margin-right: 2px;
}
.sc-extension .player .pl-repeat i {
  font-size: 24px;
}
.sc-extension .player input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
}
.sc-extension .player input[type=range]:focus {
  outline: none;
}
.sc-extension .player input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #606060;
  border-radius: 0px;
  border: 1px solid #000000;
}
.sc-extension .player input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 0px;
  background: #ff6624;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
.sc-extension .player input[type=range]:focus::-webkit-slider-runnable-track {
  background: #606060;
}
.sc-extension .player input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #606060;
  border-radius: 0px;
  border: 1px solid #000000;
}
.sc-extension .player input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 0px;
  background: #ff6624;
  cursor: pointer;
}
.sc-extension .player input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.sc-extension .player input[type=range]::-ms-fill-lower {
  background: #606060;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.sc-extension .player input[type=range]::-ms-fill-upper {
  background: #606060;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.sc-extension .player input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 0px;
  background: #ff6624;
  cursor: pointer;
  height: 8px;
}
.sc-extension .player input[type=range]:focus::-ms-fill-lower {
  background: #606060;
}
.sc-extension .player input[type=range]:focus::-ms-fill-upper {
  background: #606060;
}
.sc-extension .tabs {
  margin-top: 5px;
}
.sc-extension .tabs .btn {
  border: 1px solid #000000;
  color: #B9B9B9;
  text-decoration: none;
  padding: 2px 5px;
  background-color: #525252;
  text-align: center;
}
.sc-extension .tabs .btn:hover,
.sc-extension .tabs .btn.active {
  color: white;
  border-color: #ff6624;
  font-weight: bold;
}
.sc-extension .tabs .line {
  width: 90%;
  margin-left: 5%;
  border: 1px solid #FF6624;
}
.sc-extension .tabs .tb-buttons {
  width: 100%;
}
.sc-extension .tabs .tb-buttons .tb-btn {
  color: #B9B9B9;
  float: left;
  width: 25%;
  text-align: center;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
}
.sc-extension .tabs .tb-buttons .tb-btn:hover,
.sc-extension .tabs .tb-buttons .tb-btn.active {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}
.sc-extension .tabs .action-box {
  padding: 2px 10px;
  overflow: auto;
  padding-bottom: 5px;
  border-bottom: 2px solid #525252;
}
.sc-extension .tabs .action-box .search {
  height: 22px;
  float: left;
  border: 1px solid black;
  background-color: #525252;
  color: white;
  margin-right: 5px;
}
.sc-extension .tabs .list {
  overflow: scroll;
  padding: 5px;
  max-height: 300px;
  overflow-x: hidden;
}
.sc-extension .tabs .list::-webkit-scrollbar {
  width: 5px;
}
.sc-extension .tabs .list::-webkit-scrollbar-button {
  display: none;
}
.sc-extension .tabs .list::-webkit-scrollbar-track {
  background-color: transparent;
}
.sc-extension .tabs .list::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
.sc-extension .tabs .list::-webkit-scrollbar-thumb {
  background-color: #FF6624;
}
.sc-extension .tabs .list .sound {
  overflow: auto;
  margin-top: 5px;
  cursor: pointer;
}
.sc-extension .tabs .list .sound:hover,
.sc-extension .tabs .list .sound.active {
  background-color: #525252;
}
.sc-extension .tabs .list .sound .image {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  float: left;
  margin: 5px;
  background-size: cover;
}
.sc-extension .tabs .list .sound .title {
  color: white;
  float: left;
  font-size: 14px;
  margin: 5px 2px;
  height: 35px;
  line-height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 225px;
}
.sc-extension .tabs .list .sound .actions {
  float: right;
  height: 35px;
  margin: 5px;
  line-height: 35px;
}
.sc-extension .tabs .list .sound .actions i {
  font-size: 18px;
  color: #ff6624;
  margin: 10px 1px;
}
.sc-extension .tabs .list .sound .actions i:hover {
  color: #FF3823;
}
