.sc-extension-html {
  max-height: 350px;
  height: 48px;
  overflow: auto;
}
.sc-extension {
  font-size: 12px;
  background-color: #333;
  height: 100%;
  margin: 0px;
}
.sc-extension .hidden {
  display: none;
}
.sc-extension .spinner {
  margin: 0px auto;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.sc-extension .spinner div {
  background-color: #ff6624;
  height: 100%;
  width: 5px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.5s infinite ease-in-out;
  animation: sk-stretchdelay 1.5s infinite ease-in-out;
}
.sc-extension .spinner .rect-15 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sc-extension .spinner .rect-14 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.sc-extension .spinner .rect-13 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sc-extension .spinner .rect-12 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sc-extension .spinner .rect-11 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sc-extension .spinner .rect-10 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sc-extension .spinner .rect-9 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sc-extension .spinner .rect-8 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sc-extension .spinner .rect-7 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sc-extension .spinner .rect-6 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sc-extension .spinner .rect-5 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sc-extension .spinner .rect-4 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sc-extension .spinner .rect-3 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.sc-extension .spinner .rect-2 {
  -webkit-animation-delay: -1.3s;
  animation-delay: -1.3s;
}
.sc-extension .spinner .rect-1 {
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.sc-extension .sign-in-required {
  text-align: center;
}
.sc-extension .sign-in-required .message {
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 5px;
}
.sc-extension .sign-in-required .button {
  margin: 4px;
  background: linear-gradient(#F68A43, #E73507);
  border: 1px solid #333333;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.sc-extension .sign-in-required .button:hover {
  background: linear-gradient(#E73507, #E73507);
}
.sc-extension .row {
  width: 100%;
  padding: 5px;
}
.sc-extension .row .col {
  float: left;
}
.sc-extension .login-form {
  width: 185px;
  height: 50px;
}
.sc-extension .login-form .btn {
  float: left;
  width: 70px;
  height: 30px;
  margin: 4px;
  border: 2px solid #FF6624;
  padding: 5px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
}
.sc-extension .login-form .btn:hover {
  background-color: black;
}
.sc-extension .player i.material-icons {
  color: #FF6624;
  cursor: pointer;
  font-size: 26px;
  margin-top: 2px;
  margin-left: 2px;
}
.sc-extension .player i.material-icons:hover {
  color: #FF3823;
}
.sc-extension .player .player-actions .action-row {
  width: 100%;
  height: 28px;
}
.sc-extension .player.full-version {
  width: 370px;
  height: 90px;
}
.sc-extension .player.full-version .sound-img {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(135deg, #70929c, #8e8485);
  background-size: cover;
}
.sc-extension .player.full-version .player-actions {
  width: 285px;
}
.sc-extension .player.full-version .pl-title {
  float: left;
  width: 255px;
}
.sc-extension .player.full-version .pl-volume {
  margin-left: 10px;
}
.sc-extension .player.full-version .pl-volume input[type="range"] {
  width: 75px;
  margin-top: 9px;
  margin-left: 2px;
  float: right;
}
.sc-extension .player.full-version .pl-navigate {
  float: left;
  margin-left: 5px;
  width: 245px;
}
.sc-extension .player.full-version .pl-navigate label {
  color: white;
  font-size: 12px;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
.sc-extension .player.full-version .pl-navigate input[type="range"] {
  width: 195px;
  float: left;
  margin-top: 10px;
}
.sc-extension .player.full-version .pl-tabs {
  float: right;
  margin-right: 2px;
  margin-top: -2px;
}
.sc-extension .player.full-version .pl-tabs i {
  font-size: 30px;
}
.sc-extension .player.full-version .pl-minimize {
  margin-top: -2px;
  margin-right: 1px;
}
.sc-extension .player.min-version {
  width: 210px;
  height: 70px;
}
.sc-extension .player.min-version .player-actions {
  width: 210px;
}
.sc-extension .player.min-version .pl-title {
  float: left;
  width: 145px;
}
.sc-extension .player.min-version .pl-volume {
  margin-left: 5px;
}
.sc-extension .player.min-version .pl-volume input[type="range"] {
  width: 50px;
  margin-top: 9px;
  float: right;
}
.sc-extension .player.min-version .pl-minimize {
  margin-right: 10px;
}
.sc-extension .player .pl-title {
  float: left;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  margin-left: 5px;
}
.sc-extension .player .pl-minimize {
  float: right;
}
.sc-extension .player .pl-minimize i {
  margin: 0px;
  font-size: 24px;
}
.sc-extension .player .pl-buttons {
  float: left;
  display: inline-flex;
  margin-left: 5px;
}
.sc-extension .player .pl-volume {
  float: left;
  margin-top: 2px;
}
.sc-extension .player .pl-volume i {
  font-size: 22px;
}
.sc-extension .player .pl-repeat {
  float: right;
  margin-right: 2px;
}
.sc-extension .player .pl-repeat i {
  font-size: 24px;
}
.sc-extension .player input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
}
.sc-extension .player input[type=range]:focus {
  outline: none;
}
.sc-extension .player input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #606060;
  border-radius: 0px;
  border: 1px solid #000000;
}
.sc-extension .player input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 0px;
  background: #ff6624;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
.sc-extension .player input[type=range]:focus::-webkit-slider-runnable-track {
  background: #606060;
}
.sc-extension .player input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #606060;
  border-radius: 0px;
  border: 1px solid #000000;
}
.sc-extension .player input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 0px;
  background: #ff6624;
  cursor: pointer;
}
.sc-extension .player input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.sc-extension .player input[type=range]::-ms-fill-lower {
  background: #606060;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.sc-extension .player input[type=range]::-ms-fill-upper {
  background: #606060;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.sc-extension .player input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 0px;
  background: #ff6624;
  cursor: pointer;
  height: 8px;
}
.sc-extension .player input[type=range]:focus::-ms-fill-lower {
  background: #606060;
}
.sc-extension .player input[type=range]:focus::-ms-fill-upper {
  background: #606060;
}
.sc-extension .tabs {
  margin-top: 5px;
}
.sc-extension .tabs .action-icon {
  color: #ff6624;
  cursor: pointer;
  font-size: 22px;
}
.sc-extension .tabs .action-icon:hover,
.sc-extension .tabs .action-icon.active {
  color: #FF3823;
}
.sc-extension .tabs .action-btn {
  float: right;
  color: white;
  text-align: center;
  margin-right: 10px;
  padding-right: 3px;
  cursor: pointer;
  overflow: auto;
}
.sc-extension .tabs .action-btn i {
  float: left;
}
.sc-extension .tabs .action-btn label {
  font-size: 12px;
  float: left;
  padding-left: 2px;
  padding-top: 5px;
  cursor: pointer;
}
.sc-extension .tabs .action-btn:hover,
.sc-extension .tabs .action-btn.active {
  color: #FF3823;
}
.sc-extension .tabs .action-btn:hover i,
.sc-extension .tabs .action-btn.active i {
  color: #FF3823;
}
.sc-extension .tabs .btn {
  background-color: #525252;
  border: 1px solid #ff6624;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 2px 5px;
  text-align: center;
}
.sc-extension .tabs .btn:hover,
.sc-extension .tabs .btn.active {
  color: white;
  border-color: #ff6624;
  background-color: #333333;
}
.sc-extension .tabs .line {
  width: 90%;
  margin-left: 5%;
  border: 1px solid #FF6624;
}
.sc-extension .tabs .tb-buttons {
  width: 100%;
  overflow: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 2px;
}
.sc-extension .tabs .tb-buttons .tb-btn {
  color: #B9B9B9;
  float: left;
  width: 93px;
  text-align: center;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  border-bottom: 2px solid #525252;
  margin-left: -2px;
}
.sc-extension .tabs .tb-buttons .tb-btn:hover,
.sc-extension .tabs .tb-buttons .tb-btn.active {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}
.sc-extension .tabs .tb-buttons .tb-btn.active {
  border-bottom: none;
  border-right: 2px solid #525252;
  border-left: 2px solid #525252;
  border-top: 2px solid #525252;
}
.sc-extension .tabs .action-box {
  padding: 2px 10px;
  overflow: auto;
  padding-bottom: 5px;
  border-bottom: 2px solid #525252;
}
.sc-extension .tabs .action-box .search {
  height: 22px;
  float: left;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #FF6624;
  color: white;
  margin-right: 5px;
  padding-right: 20px;
}
.sc-extension .tabs .action-box .search:focus {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #FF3823;
}
.sc-extension .tabs .list {
  overflow: scroll;
  padding: 5px;
  max-height: 300px;
  overflow-x: hidden;
}
.sc-extension .tabs .list::-webkit-scrollbar {
  width: 5px;
}
.sc-extension .tabs .list::-webkit-scrollbar-button {
  display: none;
}
.sc-extension .tabs .list::-webkit-scrollbar-track {
  background-color: transparent;
}
.sc-extension .tabs .list::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
.sc-extension .tabs .list::-webkit-scrollbar-thumb {
  background-color: #FF6624;
}
.sc-extension .tabs .list .sound,
.sc-extension .tabs .list .playlist {
  overflow: auto;
  margin-top: 5px;
  cursor: pointer;
}
.sc-extension .tabs .list .sound .image,
.sc-extension .tabs .list .playlist .image {
  border: 1px solid white;
  float: left;
  margin: 5px;
  background-size: cover;
}
.sc-extension .tabs .list .sound .title,
.sc-extension .tabs .list .playlist .title {
  color: white;
  float: left;
  font-size: 14px;
  margin: 5px 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sc-extension .tabs .list .sound .info,
.sc-extension .tabs .list .playlist .info {
  overflow: auto;
  float: left;
}
.sc-extension .tabs .list .sound .info .image,
.sc-extension .tabs .list .playlist .info .image {
  width: 35px;
  height: 35px;
}
.sc-extension .tabs .list .sound .info .title,
.sc-extension .tabs .list .playlist .info .title {
  height: 35px;
  line-height: 35px;
  width: 225px;
}
.sc-extension .tabs .list .sound .list-sound,
.sc-extension .tabs .list .playlist .list-sound {
  overflow: auto;
  width: 330px;
  margin-left: 20px;
  border-left: 2px solid #525252;
}
.sc-extension .tabs .list .sound .list-sound:hover,
.sc-extension .tabs .list .playlist .list-sound:hover,
.sc-extension .tabs .list .sound .list-sound.active,
.sc-extension .tabs .list .playlist .list-sound.active {
  background-color: #525252;
}
.sc-extension .tabs .list .sound .list-sound .info .image,
.sc-extension .tabs .list .playlist .list-sound .info .image {
  width: 20px;
  height: 20px;
}
.sc-extension .tabs .list .sound .list-sound .info .title,
.sc-extension .tabs .list .playlist .list-sound .info .title {
  height: 20px;
  line-height: 20px;
  width: 200px;
}
.sc-extension .tabs .list .sound .list-sound .actions,
.sc-extension .tabs .list .playlist .list-sound .actions {
  height: 20px;
  line-height: 20px;
  margin: 0px;
  margin-top: -3px;
}
.sc-extension .tabs .list .sound .actions,
.sc-extension .tabs .list .playlist .actions {
  float: right;
  height: 35px;
  margin: 5px;
  line-height: 35px;
}
.sc-extension .tabs .list .sound .actions i,
.sc-extension .tabs .list .playlist .actions i {
  font-size: 18px;
  color: #ff6624;
  margin: 10px 1px;
}
.sc-extension .tabs .list .sound .actions i:hover,
.sc-extension .tabs .list .playlist .actions i:hover {
  color: #FF3823;
}
.sc-extension .tabs .list .sound:hover,
.sc-extension .tabs .list .sound.active {
  background-color: #525252;
}
.sc-extension .tabs .list .playlist .playlist-info {
  overflow: auto;
}
.sc-extension .tabs .list .playlist .playlist-info:hover,
.sc-extension .tabs .list .playlist .playlist-info.active {
  background-color: #525252;
}
