<div class="row login-form" ng-controller="LoginController">
	<div style="color: white; text-align: justify; font-size: 12px; font-style: italic;">
		New logic for "Sign In". When you press "Sign In" you will be navigated to the website. 
		If you are authorized on the site page it will be closed automatically. If not please "Sing In".
		"Sign In" may take few minutes. Please wait when web page will be closed or check in extension
	</div>
	<div class="btn" ng-click="signIn()">
		Sign In
	</div>
	<div class="btn" ng-click="skip()">
		Skip
	</div>
</div>