<div class="player full-version">
	<div class="row">
		<div class="col">
			<div class="sound-img"></div>
		</div>
		<div class="col player-actions">
			<div class="action-row">
				<div class="pl-title">
					{{player.state.volume}} Sound name...........................................
				</div>
				<div class="pl-minimize">
					<i class="material-icons" ng-click="changePlayerViewMode()">fullscreen_exit</i>
				</div>
			</div>
			<div class="action-row">
				<div class="pl-buttons">
					<i class="material-icons">fast_rewind</i>
					<i class="material-icons">stop</i>
					<i class="material-icons">play_arrow</i>
					<i class="material-icons">fast_forward</i>
					<i class="material-icons" style="font-size: 22px; margin-top: 4px; margin-left: 4px;">replay</i>
				</div>
				<div class="pl-volume">		
					<i ng-class="player.state.volume <= 50 ? 'hidden' : ''" class="material-icons">volume_up</i>
                    <i ng-class="(player.state.volume > 50 || player.state.volume ==0) ? 'hidden' : ''" class="material-icons">volume_down</i>
                    <i ng-class="player.state.volume != 0 ? 'hidden' : ''" class="material-icons">volume_mute</i>
                    <i ng-class="player.state.volume >=0 ? 'hidden' : ''" class="material-icons">volume_off</i>
					<input ng-model="player.state.volume" min="0" max="100" type="range">
				</div>
				<div class="pl-repeat">
					<i class="material-icons">repeat</i>
				</div>
			</div>
			<div class="action-row">
				<div class="pl-navigate">
					<input type="range">
					<label>999.999</label>
				</div>
				<div class="pl-tabs">
					<i class="material-icons" ng-click="toggleTabs()">apps</i>
				</div>
			</div>
		</div>
	</div>
</div>