<div class="player full-version">
	<div class="row">
		<div class="col">
			<div class="sound-img" style="background-image: url('{{playerController.player.sound.art}}')"></div>
		</div>
		<div class="col player-actions">
			<div class="action-row">
				<div class="pl-title">
					{{playerController.player.sound.id}} {{playerController.player.sound.title}}
				</div>
				<div class="pl-minimize">
					<i class="material-icons" ng-click="playerController.changePlayerViewMode()">fullscreen_exit</i>
				</div>
			</div>
			<div class="action-row">
				<div class="pl-buttons">
					<i class="material-icons" ng-click="playerController.prev()">fast_rewind</i>
					<i class="material-icons" ng-click="playerController.stop()">stop</i>
					<i class="material-icons" ng-click="playerController.play()">play_arrow</i>
					<i class="material-icons" ng-click="playerController.next()">fast_forward</i>
					<i class="material-icons" style="font-size: 22px; margin-top: 4px; margin-left: 4px;" ng-click="playerController.replay()">replay</i>
				</div>
				<div class="pl-volume">		
                    <i class="material-icons" ng-click="playerController.muteVolume()">{{playerController.volumeIcon}}</i>
					<input ng-model="playerController.player.state.volume" ng-change="playerController.updateVolume()" min="0" max="100" type="range">
				</div>
				<div class="pl-repeat">
					<i class="material-icons">repeat</i>
				</div>
			</div>
			<div class="action-row">
				<div class="pl-navigate">
					<input type="range" ng-model="playerController.player.sound.position" ng-change="playerController.updatePosition()" nim="0" max="{{playerController.player.sound.duration}}">
					<label>{{playerController.player.sound.position | date:'mm:ss'}}</label>
				</div>
				<div class="pl-tabs">
					<i class="material-icons" ng-click="playerController.toggleTabs()">apps</i>
				</div>
			</div>
		</div>
	</div>
</div>