<div class="player min-version">
	<div class="row">
		<div class="col player-actions">
			<div class="action-row">
				<div class="pl-title">
					{{playerController.player.sound.title}}
				</div>
				<i class="material-icons" style="font-size: 22px;" ng-click="playerController.replay()">replay</i>
				<div class="pl-minimize">
					<i class="material-icons" ng-click="playerController.changePlayerViewMode()">fullscreen</i>
				</div>
			</div>
			<div class="action-row">
				<div class="pl-buttons">
					<i class="material-icons" ng-click="playerController.prev()">fast_rewind</i>
					<i class="material-icons" ng-click="playerController.stop()">stop</i>
					<i class="material-icons" ng-click="playerController.toggle()">play_arrow</i>
					<i class="material-icons" ng-click="playerController.next()">fast_forward</i>				
                </div>
				<div class="pl-volume">		
					<i class="material-icons" ng-click="playerController.muteVolume()">{{playerController.volumeIcon}}</i>
					<input ng-model="playerController.player.state.volume" ng-click="playerController.updateVolume()" min="0" max="100" type="range">
				</div>
			</div>
		</div>
	</div>
</div>