<div class="player min-version">
	<div class="row">
		<div class="col player-actions">
			<div class="action-row">
				<div class="pl-title">
					Sound name...........................................
				</div>
				<i class="material-icons" style="font-size: 22px;">replay</i>
				<div class="pl-minimize">
					<i class="material-icons" ng-click="playerController.changePlayerViewMode()">fullscreen</i>
				</div>
			</div>
			<div class="action-row">
				<div class="pl-buttons">
					<i class="material-icons">fast_rewind</i>
					<i class="material-icons">stop</i>
					<i class="material-icons">play_arrow</i>
					<i class="material-icons">fast_forward</i>
				</div>
				<div class="pl-volume">		
					<i class="material-icons" ng-click="playerController.muteVolume()">{{volumeIcon}}</i>
					<input ng-model="playerController.player.state.volume" ng-click="playerController.updateVolume()" min="0" max="100" type="range">
				</div>
			</div>
		</div>
	</div>
</div>