<div class="tabs">
    <div class="line"></div>
    <div class="tb-buttons">
        <div class="tb-btn" style="border-left:none;" ng-class="(playerController.view.activeTabName == playerController.tabsList.homeTabName ? 'active' : '')" ng-click="playerController.openHomeTab();">Home</div>
        <div class="tb-btn" ng-class="(playerController.view.activeTabName == playerController.tabsList.tracksTabName ? 'active' : '')" ng-click="playerController.openTracksTab();">Tracks</div>
        <div class="tb-btn" ng-class="(playerController.view.activeTabName == playerController.tabsList.playListsTabName ? 'active' : '')" ng-click="playerController.openPlayListTab();">Playlists</div>
        <div class="tb-btn" style="border-right:none;" ng-class="(playerController.view.activeTabName == playerController.tabsList.settingsTabName ? 'active' : '')" ng-click="playerController.openSettingsTab();">Settings</div>
    </div>
    <div ng-include="playerController.view.activeTab"></div>
</div>
