<div class="sign-in-required" ng-if="!currentUser.scUser" ng-controller="LoginController">
    <div class="message">You are not authorized. Please Sign In.</div>
    <button class="button" ng-click="signIn()">Sign In</button>
</div>
<div ng-if="currentUser.scUser" ng-controller="TracksTabController as tracksTab">
    <div class="action-box">
        <div class="action-btn" ng-click="tracksTab.myTracks()">
            <i class="material-icons action-icon">library_music</i>
            <label>My Traks</label>
        </div>
        <div class="action-btn">
            <i class="material-icons action-icon">favorite</i>
            <label>Favorites</label>
        </div>
    </div>
</div>
<div ng-include="'/extension/app/view/itemsList.html'"></div>